


body {
    
    background-color: rgb(82, 82, 195);
    display: flex
    
    margin: 60px ;
    padding: 60px;
    
}

p {
    color: #dae023;
    font-weight: 600;
    font-style: italic;
    text-indent: 100px;
    background-color: red;
    }

    h1 {

color:rgb(237, 81, 242)


  }

  ul {
    color: coral;
  }

  ol {
    color: aquamarine;
    
  }

  table {
    
    color: rgb(7, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    

  }

  a:hover {          
    color: #f80;
    }                 /* Selector de  pseudo-clases permiten aplicar 
                 estilos a los elementos cuando se pasa el
                 ratón por encima, o cuando el foco de la 
                 aplicación está sobre el elemento*/

p.importante {
text-decoration: underline;
}

aside .separador {
  border-bottom: 2px solid #ddd;
  }

  p > span {
    font-size: 1.5rem;
    }


/* Queremos que nos digas cómo hacer lo siguiente:
Todos los LI deben tener fondo gris.
El elemento con identificador "elem2_1" (id="elem2_1") debe tener fondo naranja.
Los elementos de class "orden" tienen texto mayor que el resto.
Todos los elementos de clase "item" deben tener un subrayado.
Todos los SPAN y las etiquetas I (itálica) deben aparecer con el texto en negrita.
El texto de todos los elementos LI de la lista ordenada (OL) debe estar en rojo y todos
los LI de la lista desordenada (UL) deben tener el texto en azul.
El elemento SPAN de clase "item" debe tener tamaño del texto menor que el resto.
Los elementos de clase item que son hijos directos de la lista UL tienen que tener un
borde rojo */


    li {
      background-color: rgb(4, 120, 128);
      }
       
      #elem2_1 {
      background-color: rgb(0, 255, 238);
      } 

      .orden {
      font-size: 1.4rem;
      } 

      .item {
      text-decoration: underline;
      }

      span, i {
      font-weight: bold;
      }

      ol li {
      color: red;
      }

      ul li {
      color: blue;
      }

      span.item {
      font-size: 0.8rem;
      }

      ul > 
      .item {
      border: 1px solid red;
      }


      
tr, td, th {
border: 2px solid rgb(12, 1, 1);

}

.mapa {
margin-left: 150px;

}

.mapa2 {
  float: right;
}


